// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$resumeSite-primary: mat-palette($deep-purple-palette);
$resumeSite-accent: mat-palette($amber-palette, A200, A700, A400);
//dark theme colors
//$resumeSite-primary-dark: mat.define-palette(mat.$deep-purple-palatte);
//$resumeSite-accent-dark: mat.define-palette(mat.$indigo-palatte);

// The warn palette is optional (defaults to red).
$resumeSite-warn: mat-palette($red-palette);
//dark theme
//$resumeSite-warn-dark: mat.define-palette(mat.$deep-orange-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$resumeSite-theme: mat-light-theme((
  color: (
    primary: $resumeSite-primary,
    accent: $resumeSite-accent,
    warn: $resumeSite-warn,
  )
));
//dark

$resumeSite-theme-dark: mat-dark-theme((
  color: (
    primary: mat-palette($deep-purple-palatte),
    accent: mat-palette($indigo-palatte, A200, A100, A400),
    warn: mat-palette($deep-orange-palette),
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-color($resumeSite-theme);

.resumeSite-theme-dark{
  @include angular-material-color($resumeSite-theme-dark)
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }