<html>
   
    <body>
        <mat-card id="tp-card">
            <mat-card-title>
                Collin Palm
            </mat-card-title>
            <mat-card-content>
                <br>
                My name is Collin Palm and ​I am a Junior at the University of Central Florida 
                with a declared major in computer science.  I am a general technology enthusiast and an Eagle 
                Scout.  I learn new skills and information quickly.
            </mat-card-content>
        </mat-card>
        
        <mat-card id="tp-card-lower">
            <mat-card-title>
                About this Site
            </mat-card-title>
            <mat-card-content>
                <br>
                This is a site I built so show off my skills, projects, ideas, and awards.   This site is built using 
                Angular, JavaScript, HTML, and CSS that is hosted on an AWS EC2 instance.  Feel free to take a look 
                around and let me know what you think.
                <br><br>
                P.S. This site is currently only a front-end with no sensitive information for you to gain from hacking 
                this website... so please don't.  However, if you can't help yourself please let me know what 
                vulnerabilities are here so I can patch them.
            </mat-card-content>
        </mat-card>
        
        <mat-card id="tp-card-image">
            <img mat-card-image src="Collin3.jpg" alt="Collin Headshot">
        </mat-card>
        
        
        
        
    
        <div id="footer">
            <p>This site was built by me: Collin Palm <br>Created with: Angular</p>
        </div>

    </body>
</html>