@use '~@angular/material' as mat;
@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import '~@angular/material/theming';

@include mat.core;

@import 'src/styles.scss';

.dark-theme {
    @include angular-material-theme($my-theme);
}



.body{
    overflow: visible;
}

.introwrapper{
    height: fit-content;
    width: 40%;
    float: left;
    clear: none;
    margin-left: 5%;
}

.name{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

.description{
    text-align: center;
    padding : 10px;
}

.imagewrapper{
    width: 30%;
    height: fit-content;
    float: left;
    clear: none;
    margin-left: 20%;
    margin-right: 5%;
    border-radius: 25px;
}
img{
    border-radius: 25px;
}

.separator{
    font-size: x-large;
    font-weight: bolder;
}

.fix{
    clear: both;
    padding-top: 10%;
}

.header-flex {
    flex: 1 0.5 auto;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.separation{
    background-color: mat.get-color-from-palette($theme-primary, 500);
}


.bottom-section{
    padding-top: 0%;
}

.resume{
    height: 500px;
}
.mat-tab-group {
    margin-bottom: 48px;
}

.education-grid-list{
    padding: 5%;
}


.list{
    text-align: center;
}

.tab-internal-header{
    text-decoration: underline;
    font-size: large;
    text-align: center;
}

.grid-list-card{
    background-color: mat.get-color-from-palette($theme-accent, 500);
    color: black;
    width: 20%;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
    padding: 10px;
}
.experience-list-card{
    background-color: mat.get-color-from-palette($theme-accent, 500);
    color: black;
    width: 20%;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
    padding: 10px;
}

.eperience-tab-internal-header{
    text-decoration: underline;
    font-size: large;
    text-align: center;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./top.svg');
}

.spacer2 {
    aspect-ratio: 920/300;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer2 {
    background-image: url('./bottom.svg');
}

.footer{
    background-color: mat.get-color-from-palette($theme-primary, 500);
}
.spacer3 {
    aspect-ratio: 920/300;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer3 {
    background-image: url('./footer.svg');
}