:root{
    --primary-color:#fff;
    --background-color:default;
    --text-color: default;
}

body{
    width:100%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Lato;
    padding: 50px;
    margin: 0;
}


#tp-card{
    max-width: 30%;
    margin: 25px;
    float: left;
}

#tp-card-lower{
    max-width: 30%;
    margin: 25px;
    float: right;
    margin-right: 5%;
}

#footer{
    text-align: center;
    position:absolute;
    margin-left: 45%;
    bottom: 0px;
}