<body class="body">
    <section>
        <div class="fix">
            <div class="introwrapper">
                <mat-card>
                    <mat-card-header class="name">
                        <span class="header-flex"></span>
                        <div>Collin Palm</div>
                        <span class="header-flex"></span>
                    </mat-card-header>
                    <mat-card-content class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                   </mat-card-content>
                </mat-card>
            </div>
            
            <div class="imagewrapper">
                <mat-card>
                    <img mat-card-image >
                </mat-card>
            </div>        
        </div>
    </section>
    <div class="spacer layer1"></div>
    <section class="separation">  
        <div>
            <h1 class="separator">More Information about me</h1>
        </div>
    </section>
    
    <section class="bottom-section">
        <div class="tabs">
            <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
                <mat-tab label="Resume">
                                <mat-card class="grid-list-card">
                                    <mat-card-title>
                                        <h3 class="tab-internal-header">Education</h3>
                                    </mat-card-title>
                                    <mat-card-content>
                                        <div  class="list">
                                            <p>High School Diploma Bloomingdale High School - May 2019</p>
                                            <p>CIW Internet Business Associate</p>
                                            <p>Currently attending courses at the University of Central Florida</p>
                                            <p>Completed ‘A Cloud Guru’Amazon Web Services Certified Solutions Architect - Associate Course</p>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="grid-list-card">
                                    <mat-card-title>
                                        <h3 class="tab-internal-header">Skills</h3>
                                    </mat-card-title>
                                    <mat-card-content>
                                        <div class="list">
                                            <p>Microsoft Office Suite</p>
                                            <p>PADI Open Water Dive Certification</p>
                                            <p>Linux, particularly debian/Ubuntu</p>
                                        </div>  
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="grid-list-card">
                                    <mat-card-title>
                                        <h3 class="tab-internal-header">Programming Languages</h3>
                                    </mat-card-title>
                                    <mat-card-content>
                                        <div class="list">
                                            <p>Java</p>
                                            <p>C/C++</p>
                                            <p>Python</p>
                                            <p>Javascript</p>
                                            <p>TypeScript</p>
                                            <p>HTML/CSS</p>
                                        </div>
                                                
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="grid-list-card">
                                    <mat-card-title>
                                        <h3 class="tab-internal-header">Awards</h3>
                                    </mat-card-title>
                                    <mat-card-content>
                                        <div class="list">
                                            <p>Eagle Scout - Fall 2018</p>
                                            <p>“Best use of Google Cloud” award at swamphacks VI</p>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                </mat-tab>
                <mat-tab label="Experience">
                    <div>
                        <mat-card class="experience-list-card">
                            <mat-card-title>
                                <h3 class="experience-tab-internal-header">Swamphacks VI:</h3>
                            </mat-card-title>
                            <mat-card-content>
                                <p>
                                    Participated in the swamphacks 6 hackathon at the University 
                                    of Florida.  We won the best use of google cloud for creating 
                                    a google action that tracked the university bus system via 
                                    the public API.
                                </p>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="experience-list-card">
                            <mat-card-title>
                                <h3 class="experience-tab-internal-header">Collegiate Cyber Defense Club @ UCF:</h3>
                            </mat-card-title>
                            <mat-card-content>
                                <p>
                                    Member of the Collegiate Cyber defense club for UCF. We keep 
                                    up to date on many cybersecurity related news and are discuss 
                                    a new technology every meeting.
                                </p>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="experience-list-card">
                            <mat-card-title>
                                <h3 class="experience-tab-internal-header">National Security Innovation Network 2021 Summer Cohort:</h3>
                            </mat-card-title>
                            <mat-card-content>
                                <p>
                                    Selected to be part of a development team to overhaul and build 
                                    the Naval Air Warfare Training Systems Division’s data analysis 
                                    pipeline. I developed a standalone windows executable that 
                                    included data manipulation and a graphical interface.
                                </p>
                            </mat-card-content>
                        </mat-card>
                        <mat-card class="experience-list-card">
                            <mat-card-title>
                                <h3 class="experience-tab-internal-header">IEEE@UCF’s Podcast Editor:</h3>
                            </mat-card-title>
                            <mat-card-content>
                                <p>
                                    I was responsible for creating the graphics and editing the 
                                    video audio of the podcast into the final product.
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-tab>
                

            </mat-tab-group>
        </div>

    </section>


    
</body>
