<body>
    <section>
        <div class="fix">
            <div class="introwrapper">
                <mat-card>
                    <mat-card-header class="name">
                        <span class="header-flex"></span>
                        <div>Collin Palm</div>
                        <span class="header-flex"></span>
                    </mat-card-header>
                    <mat-card-content class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                   </mat-card-content>
                </mat-card>
            </div>
            
            <div class="imagewrapper">
                <mat-card>
                    <img mat-card-image >
                </mat-card>
            </div>        
        </div>
    </section>
    <section>
        <div>
            <h1 class="separator">More Information about me</h1>
        </div>
    </section>
    <section>
        <div>
            <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
                <mat-tab label="Resume">

                </mat-tab>
                <mat-tab label="Experience">

                </mat-tab>
                <mat-tab label="Interests">
                    
                </mat-tab>

            </mat-tab-group>
        </div>
    </section>

    
</body>
