<body>
    <section>
        <div class="contact_info_section">
            <h2 class = "contact_info_title">Contact Information</h2>
            <mat-card class="contact_info_card">
                <mat-card-title>Personal Email</mat-card-title>
                <mat-card-content class="contact_info_element">
                    <a href = "mailto: collinpalmofficial@gmail.com">collinpalmofficial@gmail.com</a>
                </mat-card-content>
                <mat-card-footer margin = 5px font-size = small>For general contact and discussion</mat-card-footer>
            </mat-card>
            <mat-card class="contact_info_card">
                <mat-card-title>Academic Email</mat-card-title>
                <mat-card-content class="contact_info_element">
                    <a href = "mailto: collinpalm@knights.ucf.edu">collinpalm@knights.ucf.edu</a>
                </mat-card-content>
                <mat-card-footer margin = 5px font-size = small>For discussion about academics and University related issues</mat-card-footer>
            </mat-card>
        </div>
    </section>
    <section>
        <div class="link_info_section">
            <h2 class = "link_info_title">My Links</h2>
            <a mat-raised-button color="primary" class="link_info_button" onClick="window.open('//github.com/Collinpalm')"><img src="assets/GitHub-Mark-32px.png" class="button_internal"><p class="button_internal">Github</p></a>
            <a mat-raised-button color="primary" class="link_info_button" onClick="window.open('//www.linkedin.com/in/collinpalm')"><img src="assets/In-Blue-14@2x.png" class="button_internal"><p class="button_internal">LinkedIn</p></a>
        </div>
    </section>
    <section>
        <h1>Portfolio Website for and by: Collin Palm</h1>
    </section>
</body>
