@use '~@angular/material' as mat;
@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import '~@angular/material/theming';

@include mat.core;

@import 'src/styles.scss';

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
}
a{
    max-width: 20%;
    min-width: 150px;
    align-content: center;
}

a[href^="mailto:"]
{ 
  color: white;
  font-weight: bold;
  text-decoration: none;
}


.button_internal{
    float: left;
    margin: 15px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #673AB7;
}
.contact_info_section{
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
}

.contact_info_title{
    font-weight: bolder;
    font-size: 50px;
    margin : 30px;
}

.contact_info_element{
    text-decoration: underline;
    font-size: larger;
    margin : 30px;
    
}

.contact_info_card{
    width: 30%;
    display: inline-block;
    margin : 5%;
}

.link_info_section{
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
}

.link_info_title{
    font-weight: bolder;
    font-size: 50px;
    margin : 30px;
}

.link_info_element{
    text-decoration: underline;
    font-size: larger;
    margin : 30px;
}

.link_info_card{
    width: 30%;
    display: inline-block;
    margin : 5%;
}

.link_info_button{
    width: fit-content;
    display: inline-block;
    margin : 5%;
}

.footer{
    background-color: mat.get-color-from-palette($theme-primary, 500);
}
.spacer3 {
    aspect-ratio: 920/300;
    width: 100%;
    position:relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer3 {
    background-image: url('./footer.svg');
}