section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #673AB7;
}
.contact_info_section{
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
}

.contact_info_title{
    font-weight: bolder;
    font-size: 50px;
    margin : 30px;
}

.contact_info_element{
    text-decoration: underline;
    font-size: larger;
    margin : 30px;
}

.contact_info_card{
    width: 30%;
    display: inline-block;
    margin : 5%;
}

.link_info_section{
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
}

.link_info_title{
    font-weight: bolder;
    font-size: 50px;
    margin : 30px;
}

.link_info_element{
    text-decoration: underline;
    font-size: larger;
    margin : 30px;
}

.link_info_card{
    width: 30%;
    display: inline-block;
    margin : 5%;
}

.github_logo_formatting{
    display: inline-block;
    margin:15px;

}